$secondary-colour: #ffeb05;
$secondary-light-colour: #ffef38;

$green: #1aad5b;
$green-light: #1bbe69;

$orange: #f69e00;

$red: #f12525;
$red-light: #ff2525;

$error-colour: #f74440;
$success-colour: #00a000;

$light-colour: #f5f5f5;
$light-grey: #eeeeee;
$grey: #7b8676;
$dark-colour: #333333;

$email-colour: #0f7c10;
$github-colour: #e52525;
$linkedin-colour: #007bb5;

$max-width: 1170px;
