.expanded-slide-show {
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    background: transparent;
    opacity: 0;
    transition: all 1s ease-in-out;
    transition-property: background, top, left, height, width, opacity;
    cursor: initial;
}
.expanded-slide-show--open {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 100;
    background: $light-colour;
}
.expanded-slide-show--closing {
    z-index: 100;
}

.expanded-slide-show__image-container {
    display: flex;
    position: absolute;
    top: 20px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 55px);
    align-items: center;
}

.expanded-slide-show__image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    box-shadow: 0 0 10px 0 transparentize($dark-colour, 0.7);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.expanded-slide-show__image--active {
    opacity: 1;
}

.expanded-slide-show__controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    padding: 0 15px;
    background-color: #000000;
    color: #ffffff;
}

.expanded-slide-show__bullets {
    width: 33%;
}

.expanded-slide-show__bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    border-radius: 50%;
    background-color: darken($light-grey, 5);
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.expanded-slide-show__bullet--active {
    background: #ffffff;
    transform: scale(1.2);
}
.expanded-slide-show__bullet:not(.expanded-slide-show__bullet--active):hover,
.expanded-slide-show__bullet:not(.expanded-slide-show__bullet--active):focus {
    background-color: darken($light-grey, 15);
    transform: scale(1.05);
}

.expanded-slide-show__navigations {
    width: 33%;
    text-align: left;
}

.expanded-slide-show__nav {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.expanded-slide-show__nav:hover,
.expanded-slide-show__nav:focus {
    opacity: 1;
}

.expanded-slide-show__nav svg {
    width: 28px;
    height: 28px;
}

.expanded-slide-show__counter {
    width: 33%;
    margin: 0;
    text-align: right;
}

.expanded-slide-show__counter span {
    font-weight: 700;
}

.expanded-slide-show__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 7px 10px;
    min-width: 32px;
    min-height: 32px;
    font-size: 21px;
    z-index: 1;
    background: $red;

    &:hover,
    &:focus {
        background-color: $red-light;
    }
}
