/* For all devices */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparentize($dark-colour, 0.4);
    cursor: pointer;
}

.modal[hidden="hidden"] {
    display: block;
    visibility: hidden;
    z-index: -1;
}

.modal__content {
    position: relative;
    max-width: 90%;
    margin: 40px auto;
    padding: 15px;
    background-color: #ffffff;
    border: $grey solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 transparentize($dark-colour, 0.6);
    cursor: default;
}

.modal__close {
    position: absolute;
    right: 0;
    margin: 0;
    top: 0;
    transform: translate(40%, -40%);
    font-size: 26px;
    padding: 12px 14px;
    min-height: 44px;
    min-width: 44px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 transparentize($dark-colour, 0.6);
    background: $red;

    &:hover,
    &:focus {
        background-color: $red-light;
    }
}

.modal__heading {
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 22px;
}

/* For Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .modal__content {
        max-width: 75%;
    }
}

/* For Desktops */
@media only screen and (min-width: $desktop-width) {
    .modal__content {
        max-width: 750px;
    }
}
